.page-load{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #242424;
    transition: background-color 0.5s linear;
}

.load-page-spinner{
    position: absolute;
    margin-top: 100px;
}

.img-logo{
    max-width: 140px;
}